.glowCookies__border {
  border: 5px solid #000000 !important;
}
.glowCookies__left {
  left: 15px;
}
.glowCookies__right {
  right: 15px;
}
.glowCookies__show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}
.glowCookies__banner {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  font-family: inherit;
  position: fixed;
  width: auto;
  max-width: 375px;
  z-index: 999;
  transition: transform 0.2s ease, opacity 0.2s ease !important;
}
.glowCookies__banner .accept__btn__styles {
  border: none;
  padding: 13px 15px;
  font-size: 15px;
  font-family: inherit;
  width: 100%;
  cursor: pointer;
  user-select: none;
}
.glowCookies__banner .btn__section button:focus {
  outline: none;
}
@media (max-width: 455px) {
  .btn__section .btn__accept {
    width: 100%;
    margin-bottom: 7px;
  }
  .btn__section .btn__settings {
    width: 100%;
  }
}
.glowCookies__banner__1 {
  bottom: 30px;
  right: 30px;
  border-radius: 2.5rem;
  padding: 30px 25px;
}
.glowCookies__banner__1 > h3 {
  font-family: "Inter";
  font-weight: bolder;
  font-size: 24px;
  margin: 0px;
  padding: 0 0 20px 0;
  line-height: 40px;
}
.glowCookies__banner__1 > p {
  font-family: "Inter";
  font-size: 15px;
  margin: 0px;
  padding: 0 0 0.7rem 0;
  line-height: 1.875;
}
.glowCookies__banner__1 .read__more {
  font-family: "Inter";
  font-weight: bolder;
  text-decoration: none;
}
.glowCookies__banner__1 .read__more:hover {
  text-decoration: underline;
}
.glowCookies__banner__1 .btn__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}
.glowCookies__banner__1 .btn__section button {
  font-family: "Inter";
  font-weight: bolder;
  border-radius: 2rem;
  transition: transform 0.25s ease, color 0.25s ease,
    background-color 0.25s ease, border-color 0.25s ease;
}
.glowCookies__banner__1 .btn__section button:hover {
  transform: scale(0.94);
}
@media (max-width: 455px) {
  .glowCookies__banner__1 {
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 20px;
    max-width: 550px;
    text-align: center;
  }
  .glowCookies__banner__1 .btn__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
}
.prebanner {
  position: fixed;
  bottom: 15px;
  z-index: 999;
  min-height: 50px;
  min-width: 125px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: bolder;
  line-height: normal;
  border: none;
  padding: 12px 18px;
  text-decoration: none;
  user-select: none;
  -webkit-box-shadow: 0 0.625em 1.875em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0.625em 1.875em rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.625em 1.875em rgba(0, 0, 0, 0.1);
}
.prebanner__border__1 {
  border-radius: 15px;
}
.animation {
  transition: 0.2s;
}
.animation:hover {
  transform: scale(0.97);
}
.prebanner:hover {
  text-decoration: none;
}
