.buttons.style3 li a {
  width: 20rem;
}

@media (max-width: 736px) {
  #main > .inner {
    --padding-vertical: 0rem;
  }
}

@media (max-width: 480px) {
  #main > .inner {
    --spacing: 2.625rem;
  }
}

@media (max-width: 360px) {
  #main > .inner {
    --padding-vertical: 0rem;
    --spacing: 2.25rem;
  }
}
