/* 2-ая стиль контейнера в виде двухколоночного макета */
.container.style2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.container.style2 > .wrapper > .inner {
  --gutters: 8rem;
  --padding-horizontal: 0rem;
  --padding-vertical: 0rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.container.style2 > .wrapper {
  max-width: var(--width);
  width: 100%;
}

.container.style2.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.container.style2.default > .wrapper > .inner > *:first-child {
  margin-top: 0 !important;
}

.container.style2.default > .wrapper > .inner > *:last-child {
  margin-bottom: 0 !important;
}

.container.style2.columns > .wrapper > .inner {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
}

.container.style2.columns > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  text-align: var(--alignment);
  padding: 0 0 0 var(--gutters);
}

.container.style2.columns > .wrapper > .inner > * > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.container.style2.columns > .wrapper > .inner > * > *:first-child {
  margin-top: 0 !important;
}

.container.style2.columns > .wrapper > .inner > * > *:last-child {
  margin-bottom: 0 !important;
}

.container.style2.columns > .wrapper > .inner > *:first-child {
  margin-left: calc(var(--gutters) * -1);
}

.container.style2.default > .wrapper > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: none !important;
  width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

.container.style2.default > .wrapper > .inner > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.container.style2.default > .wrapper > .inner > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > div > .full {
  margin-left: calc(var(--gutters) * -0.5);
  max-width: none !important;
  width: calc(100% + var(--gutters) + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div:first-child > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  width: calc(
    100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px
  );
}

.container.style2.columns > .wrapper > .inner > div:last-child > .full {
  width: calc(
    100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px
  );
}

.container.style2.columns > .wrapper > .inner > div > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
}

.container.style2.columns > .wrapper > .inner > div > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

.container.style2.columns > .wrapper > .inner > div:first-child,
.container.style2.columns
  > .wrapper
  > .inner
  > div:first-child
  > .full:first-child {
  border-top-left-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > div:last-child,
.container.style2.columns
  > .wrapper
  > .inner
  > div:last-child
  > .full:first-child {
  border-top-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full {
  align-self: stretch;
}

.container.style2.columns > .wrapper > .inner > .full:first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full:last-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}

.container.style2.columns
  > .wrapper
  > .inner
  > .full
  > .full:first-child:last-child {
  border-radius: inherit;
  height: calc(100% + (var(--padding-vertical) * 2));
}

.container.style2.columns
  > .wrapper
  > .inner
  > .full
  > .full:first-child:last-child
  > * {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Container04 с заданной шириной столбцов */
#container04 > .wrapper > .inner > :nth-child(1) {
  width: calc(50% + (var(--gutters) / 2));
}

#container04 > .wrapper > .inner > :nth-child(2) {
  width: calc(50% + (var(--gutters) / 2));
}

/* Полноэкранная галерея - Lightbox */
@keyframes gallery-modal-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery-modal {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-areas: "previous image next" "caption caption caption";
  grid-template-columns: min-content auto min-content;
  height: 100%;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  outline: 0;
  padding: 2rem 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  touch-action: pan-x pinch-zoom;
  transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s,
    background-color 0.5s ease;
  user-select: none;
  visibility: hidden;
  width: 100%;
  z-index: 0;
}

.gallery-modal:before {
  animation: gallery-modal-spinner 1s infinite linear;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICMwMDAwMDA7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem;
  content: "";
  display: block;
  height: 4rem;
  left: 50%;
  margin: -2rem 0 0 -2rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: opacity 0.25s ease;
  transition-delay: 0.5s;
  width: 4rem;
}

.gallery-modal .inner {
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.35);
  grid-area: image;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transform: translateY(0.75em);
  transition: all 0.5s ease;
  width: 100%;
}

.gallery-modal .inner img {
  display: block;
  height: 100%;
  object-fit: contain;
  width: 100%;
  max-width: var(--natural-width, none);
  max-height: var(--natural-height, none);
  margin: 0 auto;
}

.gallery-modal .caption {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  grid-area: caption;
  line-height: 1.6;
  opacity: 0;
  padding: 2rem 2rem 0 2rem;
  pointer-events: none;
  text-align: center;
  transform: translateY(0.25em);
  transition: all 0.5s ease;
}

.gallery-modal .caption::-webkit-scrollbar {
  display: none;
}

.gallery-modal .caption a,
.gallery-modal .caption spoiler-text {
  pointer-events: auto;
}

.gallery-modal .nav {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICMwMDAwMDA7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjQiIHkxPSI4IiB4Mj0iNDgiIHkyPSIzMiIgLz48bGluZSB4MT0iMjQiIHkxPSI1NiIgeDI9IjQ4IiB5Mj0iMzIiIC8+PC9zdmc+");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
  cursor: pointer;
  height: 6rem;
  opacity: 0.375;
  transition: opacity 0.25s ease, transform 0.5s ease;
  width: 8rem;
}

.gallery-modal .nav:hover {
  opacity: 1 !important;
}

.gallery-modal .nav.next {
  grid-area: next;
}

.gallery-modal .nav.previous {
  grid-area: previous;
  transform: scaleX(-1);
}

.gallery-modal .close {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICMwMDAwMDA7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjAiIHkxPSIyMCIgeDI9IjQ0IiB5Mj0iNDQiIC8+PGxpbmUgeDE9IjIwIiB5MT0iNDQiIHgyPSI0NCIgeTI9IjIwIiAvPjwvc3ZnPg==");
  background-position: top 1rem right 1rem;
  background-repeat: no-repeat;
  background-size: 3rem;
  cursor: pointer;
  display: block;
  height: 6rem;
  opacity: 0.375;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s ease, transform 0.5s ease;
  width: 6rem;
}

.gallery-modal .close:hover {
  opacity: 1 !important;
}

.gallery-modal.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 10000;
}

.gallery-modal.visible:before {
  opacity: 1;
}

.gallery-modal.loaded:before {
  opacity: 0 !important;
  transition-delay: 0s !important;
}

.gallery-modal.loaded .inner {
  opacity: 1;
  transform: translateY(0);
}

.gallery-modal.loaded .caption {
  opacity: 1;
  transform: translateY(0);
}

.gallery-modal.switching .inner {
  transition: opacity 0.375s ease, transform 0.5s ease;
}

.gallery-modal.switching.from-left .inner {
  transform: translateY(0) translateX(-1.5em);
}

.gallery-modal.switching.from-right .inner {
  transform: translateY(0) translateX(1.5em);
}

.gallery-modal.switching.done .inner {
  transition: opacity 0.375s ease;
  transform: translateY(0) translateX(0);
}

/* 2-ая стиль галереи - FursonaGallery */
.gallery.style2 .inner {
  max-width: 100%;
}

.gallery.style2 ul li {
  border-radius: 1rem;
  display: inline-block;
}

.gallery.style2 ul li .frame {
  border-radius: 1rem;
}

.gallery.style2 ul li .caption p {
  padding-bottom: 0rem;
  padding-top: 2rem;
  text-align: center;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 2;
  font-weight: 400;
}

.gallery.style2 ul {
  gap: 4rem;
}

.gallery.style2 ul li .thumbnail {
  display: block;
  transition: transform 0.25s ease, z-index 0.25s ease;
}

.gallery.style2 ul li img {
  height: auto;
  max-height: 16rem;
}

.gallery.style2 ul li .thumbnail:hover {
  transform: scale(0.9225);
  z-index: 1;
}

/* Отзывчивость для модального окна галереи */
@media (orientation: portrait) {
  .gallery-modal {
    grid-template-areas: "image" "caption";
    grid-template-columns: auto;
    justify-content: center;
  }

  .gallery-modal .nav {
    background-image: none !important;
    mix-blend-mode: difference;
    opacity: 1 !important;
    position: absolute;
  }

  .gallery-modal .nav.next {
    right: 0;
  }

  .gallery-modal .nav.previous {
    left: 0;
  }

  .gallery-modal .nav:before {
    background-color: rgba(144, 144, 144, 0.5);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNGRkZGRkY7c3Ryb2tlLXdpZHRoOiAzcHg7fTwvc3R5bGU+PGxpbmUgeDE9IjI0IiB5MT0iOCIgeDI9IjQ4IiB5Mj0iMzIiIC8+PGxpbmUgeDE9IjI0IiB5MT0iNTYiIHgyPSI0OCIgeTI9IjMyIiAvPjwvc3ZnPg==");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    border-radius: 3rem;
    content: "";
    display: block;
    height: 3rem;
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.5rem);
    width: 3rem;
  }
}

@media (max-width: 1280px) {
  .gallery-modal .nav {
    opacity: 1 !important;
  }

  .gallery-modal .close {
    opacity: 1 !important;
  }
}

@media (max-width: 736px) {
  .container.style2 > .wrapper > .inner {
    --gutters: 2rem;
    --padding-horizontal: 0rem;
    --padding-vertical: 0rem;
  }

  .container.style2.columns > .wrapper > .inner {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }

  .container.style2.columns > .wrapper > .inner > span {
    height: 0;
    margin-top: calc(var(--gutters) * -1);
    pointer-events: none;
    visibility: hidden;
  }

  .container.style2.columns > .wrapper > .inner > *:first-child {
    margin-left: 0 !important;
    padding-top: 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > * {
    padding: calc(var(--gutters) * 0.5) 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > *:last-child {
    padding-bottom: 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > div > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style2.columns > .wrapper > .inner > div:first-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style2.columns > .wrapper > .inner > div:last-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  .container.style2.columns > .wrapper > .inner > div > .full:first-child {
    margin-top: calc(var(--gutters) * -0.5) !important;
  }

  .container.style2.columns > .wrapper > .inner > div > .full:last-child {
    margin-bottom: calc(var(--gutters) * -0.5) !important;
  }

  .container.style2.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
  }

  .container.style2.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
  }

  .container.style2.columns > .wrapper > .inner > div:first-of-type,
  .container.style2.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .container.style2.columns > .wrapper > .inner > div:last-of-type,
  .container.style2.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .container.style2.columns > .wrapper > .inner > div:first-of-type,
  .container.style2.columns
    > .wrapper
    > .inner
    > div:first-of-type
    > .full:last-child {
    border-bottom-left-radius: 0 !important;
  }

  .container.style2.columns > .wrapper > .inner > div:last-of-type,
  .container.style2.columns
    > .wrapper
    > .inner
    > div:last-of-type
    > .full:first-child {
    border-top-right-radius: 0 !important;
  }

  .container.style2.columns
    > .wrapper
    > .inner
    > .full
    > .full:first-child:last-child {
    height: auto;
  }

  .container.style2.columns
    > .wrapper
    > .inner
    > .full
    > .full:first-child:last-child
    > * {
    height: auto;
    position: relative;
    width: auto;
  }

  #container04 > .wrapper > .inner > :nth-child(1) {
    min-height: 100% !important;
    width: 100% !important;
  }

  #container04 > .wrapper > .inner > :nth-child(2) {
    min-height: 100% !important;
    width: 100% !important;
  }

  .gallery-modal .close {
    background-position: top 0.5rem right 0.5rem;
  }

  .gallery.style2 ul li .caption p {
    padding-bottom: 0rem;
    letter-spacing: 0rem;
    font-size: 1em;
    line-height: 2;
  }

  .gallery.style2 ul li img {
    max-height: none;
    display: block;
    height: auto;
    width: 100% !important;
  }

  .gallery.style2 ul {
    gap: 2rem;
    flex-direction: column;
  }

  .gallery.style2 .inner {
    width: 100%;
  }

  .gallery.style2 ul li {
    width: 100%;
  }

  .gallery.style2 ul li .thumbnail {
    display: block;
  }

  .gallery.style2 ul li .frame {
    display: block;
  }
}

@media (max-width: 360px) {
  .container.style2 > .wrapper > .inner {
    --gutters: 2rem;
    --padding-horizontal: 0rem;
    --padding-vertical: 0rem;
  }

  .gallery.style2 ul li .caption p {
    font-size: 1em;
  }

  .gallery.style2 ul {
    gap: 1.5rem;
  }
}
