/* Стили галереи изображений */
.gallery .inner {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--flex-alignment);
}

.gallery ul li {
  position: relative;
}

.gallery ul li .thumbnail {
  border-radius: inherit;
  position: relative;
}

.gallery ul li .frame {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.gallery ul li img {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
  width: auto;
}

.gallery ul li .caption {
  width: 100%;
}

.gallery ul li .caption p {
  width: 100%;
}

.gallery ul li .caption a,
.gallery ul li .caption spoiler-text {
  pointer-events: auto;
}

/* Стиль галереи изображений 1 - ProjectsGallery */
.gallery.style1 .inner {
  max-width: 100%;
  width: 100%;
}

.gallery.style1 ul li {
  border-radius: 3.5rem;
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - var(--gap));
}

.gallery.style1 ul li .frame {
  border-radius: 3.5rem;
  width: 100%;
}

.gallery.style1 ul li .caption p {
  padding-bottom: 0rem;
  padding-top: 2rem;
  text-align: center;
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 2;
  font-weight: 400;
}

.gallery.style1 ul {
  --gap: 2.375rem;
  gap: var(--gap);
}

.gallery.style1 ul li .thumbnail {
  display: block;
  transition: transform 0.25s ease, z-index 0.25s ease;
}

.gallery.style1 ul li img {
  height: 18rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.gallery.style1 ul li .thumbnail:hover {
  transform: scale(0.9225);
  z-index: 1;
}

/* Конкретные настройки изображения */
#gallery01 ul li .mzlffclicker img {
  object-position: center;
}

#gallery01 ul li .youtube-channel img {
  object-position: center;
}

#gallery01 ul li .readable-transparent-image img {
  object-position: center;
}

/* Динамичность */
@media (max-width: 736px) {
  .gallery.style1 ul li .caption p {
    padding-bottom: 0rem;
    letter-spacing: 0rem;
    font-size: 1em;
    line-height: 2;
  }
  
  .gallery.style1 ul li {
    flex-basis: calc(50% - var(--gap));
  }
  
  .gallery.style1 ul li img {
    height: 13.5rem;
    width: 100%;
  }
  
  .gallery.style1 ul {
    --gap: 2rem;
  }
}

@media (max-width: 360px) {
  .gallery.style1 ul li .caption p {
    font-size: 1em;
  }
  
  .gallery.style1 ul {
    --gap: 1.5rem;
  }
}