---
import Layout from "../layouts/Layout.astro";
import "../styles/404.css";
---

<Layout
  title="404: Страница не найдена — Greysoul"
  description="Какой-то рандомный чел в интернете, который что-то делает"
  mainWidth="100vw"
  spacing="3rem"
  paddingVertical="3rem"
  showFooter={false}
>

  <div id="error" class="style1 container default">
    <div class="wrapper">
      <div class="inner">
        <h1 id="text04" class="style1">404: Страница не найдена</h1>
        <p id="text09" class="style2">
          Если вы попали на эту страницу по ошибке, то перейдите, пожалуйста, на главную страницу
        </p>
        <ul id="buttons01" class="style3 buttons">
          <li>
            <a href="/" class="button n01">Главная страница</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>