---
import "../styles/about.css";
import { Image } from "astro:assets";
---

<html lang="ru">
  <head>
    <title>Обо мне — Greysoul</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    <meta name="description" content="Больше подробностей обо мне" />
    <meta property="og:site_name" content="Greysoul" />
    <meta property="og:title" content="Обо мне" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Больше подробностей обо мне" />
    <meta
      property="og:image"
      content="https://images.ctfassets.net/1pxughrhgws1/47pfMaDeBeox2xDgOQamp8/6e5f5e1b022489eba9095f20fe30eda5/seo.jpg"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:url" content="https://greysoul.ru" />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="canonical" href="https://greysoul.ru" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      rel="apple-touch-icon"
      href="https://images.ctfassets.net/1pxughrhgws1/5YGJWSf45oqEWHmx6YlCtW/f1b77066bf259e8cf85f775d3671683c/apple-touch-icon.png"
    />
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <div class="inner">
          <div id="header" class="style1 container default">
            <div class="wrapper">
              <div class="inner">
                <div id="image01" class="style1 image">
                  <a href="/" class="frame">
                    <svg
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="2.4 1.42 1397.39 298.61"
                    >
                      <title>Главная страница</title>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M113.482 3.47396C108.215 4.76902 100.198 6.1935 95.6668 6.64021C83.247 7.86242 81.4964 9.31949 75.7045 23.2498C67.5587 42.8417 72.1756 61.7069 89.5637 79.88C105.217 96.2395 125.358 93.9388 144.125 73.6472C161.256 55.1261 159.894 31.0337 141.374 24.9552C134.696 22.7638 122.104 26.7813 112.376 34.2085C99.553 43.9987 110.207 59.7897 123.537 50.7511C127.676 47.9453 134.513 44.0955 135.359 44.0955C139.029 44.0955 133.613 56.5075 127.382 62.3751C116.038 73.0577 110.411 73.3884 102.054 63.8609C92.406 52.861 89.5302 42.7861 93.2641 33.0716L95.4743 27.3201L101.126 26.6117C104.235 26.2215 107.856 25.5045 109.173 25.0175C110.489 24.5305 115.852 23.1808 121.09 22.019C134.69 19.0023 139.523 13.1481 134.425 5.86374C130.802 0.685395 126.718 0.219516 113.482 3.47396ZM198.127 15.8169C195.095 17.4657 194.094 19.842 191.46 31.6338C190.607 35.459 189.75 39.2835 188.891 43.1072C188.596 44.408 186.021 48.2904 183.167 51.7346C176.661 59.5865 168.547 75.7188 168.547 80.8032C168.547 94.513 185.832 97.9314 188.251 84.7008C191.805 65.2576 211.971 49.9698 227.8 54.7168C234.923 56.8535 240.371 52.8245 240.371 45.4213C240.371 36.8802 232.444 32.6393 219.334 34.1683L211.629 35.0665L212.243 29.0676C213.426 17.5193 206.664 11.1725 198.127 15.8169ZM8.61889 75.064C0.309322 77.9005 0.328475 88.3195 8.65241 92.9841C11.0044 94.3021 16.5914 98.1317 21.0684 101.494C31.5739 109.384 60.3964 123.763 66.9736 124.395C72.6295 124.939 76.0579 122.973 77.5978 118.303C78.9289 114.264 76.5568 108.546 72.7818 106.696C71.465 106.051 63.7061 102.328 55.5401 98.4241C44.8537 93.3148 37.7824 89.1458 30.304 83.5457C24.5897 79.2665 18.3429 75.3286 16.4219 74.7937C12.2972 73.6472 12.824 73.629 8.61889 75.064ZM230.795 74.7084C221.645 77.5046 211.292 86.6362 206.118 96.4734C201.774 104.733 201.489 121.159 205.546 129.31C210.328 138.914 225.827 147.624 238.137 147.624C245.284 147.624 250.207 141.28 248.077 134.818C246.717 130.691 244.374 129.153 237.02 127.558C226.036 125.175 222.176 121.61 222.176 113.849C222.176 107.658 224.153 103.672 229.88 98.3081C234.753 93.7471 239.453 92.2038 237.532 95.7966C233.291 103.729 241.589 119.273 256.651 131.61C268.045 140.943 281.091 139.538 286.866 128.357C290.24 121.827 286.946 100.239 281.505 93.217C271.599 80.436 244.463 70.5318 230.795 74.7084ZM256.651 100.603C256.651 102.291 264.773 113.06 267.161 114.537C270.745 116.754 265.495 104.99 261.447 101.732C257.08 98.2199 256.651 98.1193 256.651 100.603ZM59.8534 140.438C56.6932 141.157 50.5182 143.284 46.1312 145.164C41.1485 147.299 36.6226 148.583 34.0734 148.583C31.8286 148.583 27.8764 149.225 25.2907 150.01C22.705 150.795 19.7277 151.445 18.6743 151.454C4.71645 151.568 -1.02373 167.008 11.1672 171.648C14.8456 173.048 26.2579 172.709 33.0621 170.998C43.0945 168.476 51.7134 170.932 51.7134 176.312C51.7134 180.62 45.9722 183.025 28.7814 185.918C12.982 188.576 7.87958 192.774 10.5601 200.906C12.6899 207.364 16.2725 208.132 32.3314 205.569C53.4927 202.192 63.5356 197.512 69.0536 188.454C71.9113 183.762 71.6335 169.64 68.5709 163.909L66.2755 159.613L70.2468 158.164C75.604 156.208 78.2615 151.188 76.6028 146.158C74.631 140.178 69.1771 138.315 59.8534 140.438ZM208.166 155.329C198.525 161.513 193.759 181.747 199.458 192.307C211.619 214.84 226.619 232.794 244.707 246.463C255.092 254.312 265.27 251.307 265.27 240.39C265.27 236.119 263.17 233.372 257.781 230.592C249.739 226.444 225.112 200.923 227.166 198.866C227.357 198.675 229.651 199.088 232.266 199.781C247.799 203.901 251.266 204.454 264.313 204.895C285.125 205.599 291.606 203.04 291.606 194.116C291.606 186.082 289.289 185.018 271.681 184.967C263.678 184.944 255.407 184.552 253.3 184.094C251.193 183.637 246.452 182.603 242.765 181.795C239.079 180.988 232.113 178.714 227.288 176.743L218.514 173.157L220.713 170.216C228.449 159.869 218.849 148.479 208.166 155.329ZM74.338 219.937C69.1369 221.837 64.5526 226.604 63.3604 231.354C58.0444 252.527 57.8174 268.247 62.7264 275.189C68.1936 282.92 69.1609 283.269 85.0637 283.246C104.306 283.218 115.863 278.796 120.548 269.669C122.466 265.931 121.883 245.588 119.719 240.818C115.585 231.699 103.822 223.381 93.9019 222.561C90.9762 222.319 87.7212 221.568 86.6678 220.891C83.541 218.884 78.3285 218.48 74.338 219.937ZM162.796 220.414C149.56 224.444 142.287 236.527 142.851 253.549C143.482 272.56 154.393 277.729 180.425 271.347C193.083 268.245 195.525 268.354 193.608 271.939C192.606 273.813 186.934 275.623 179.081 276.575C175.402 277.021 161.952 278.884 150.448 280.542C145.91 281.194 141.733 285.58 141.733 289.689C141.733 297.962 151.011 302.007 163.28 299.083C165.387 298.58 172.306 297.518 178.655 296.722C206.378 293.245 214.455 286.217 213.335 266.547C212.327 248.873 204.866 245.194 181.476 250.835C162.378 255.441 159.019 254.214 163.968 244.443L166.153 240.129L174.772 239.831C179.512 239.666 185.806 240 188.759 240.57C196.306 242.03 200.97 240.435 203.339 235.581C205.419 231.319 204.283 226.142 200.761 223.832C195.528 220.399 170.302 218.129 162.796 220.414ZM81.9609 239.856C80.194 245.856 78.4482 256.289 78.6982 259.357L79.0065 263.135L87.6254 263.134C100.006 263.133 101.999 261.95 101.962 254.621C101.926 247.678 98.037 243.287 90.9169 242.149C88.5802 241.776 85.69 240.83 84.4958 240.047C82.7854 238.927 82.2463 238.886 81.9609 239.856Z"
                        fill="black"></path>
                      <path
                        d="M531.7 123.3C531.026 120.552 529.963 118.141 528.511 116.067C527.059 113.941 525.245 112.153 523.067 110.701C520.941 109.197 518.453 108.083 515.601 107.357C512.801 106.579 509.717 106.19 506.347 106.19C499.088 106.19 492.892 107.927 487.76 111.401C482.679 114.875 478.79 119.878 476.094 126.411C473.45 132.943 472.128 140.824 472.128 150.053C472.128 159.385 473.398 167.369 475.939 174.006C478.479 180.642 482.264 185.723 487.293 189.249C492.322 192.774 498.57 194.537 506.036 194.537C512.62 194.537 518.09 193.578 522.445 191.659C526.852 189.741 530.144 187.019 532.322 183.494C534.499 179.968 535.588 175.82 535.588 171.05L543.054 171.828H506.658V141.031H577.273V163.118C577.273 177.635 574.188 190.052 568.018 200.37C561.9 210.635 553.449 218.516 542.665 224.012C531.933 229.456 519.619 232.178 505.724 232.178C490.222 232.178 476.613 228.885 464.895 222.301C453.178 215.716 444.027 206.332 437.442 194.148C430.91 181.964 427.643 167.473 427.643 150.675C427.643 137.506 429.64 125.84 433.632 115.678C437.676 105.516 443.275 96.9357 450.43 89.9364C457.585 82.8853 465.854 77.571 475.239 73.9936C484.623 70.3643 494.681 68.5497 505.413 68.5497C514.849 68.5497 523.612 69.8977 531.7 72.5938C539.839 75.2379 547.02 79.0227 553.242 83.9481C559.515 88.8217 564.57 94.6026 568.407 101.291C572.244 107.979 574.577 115.315 575.406 123.3H531.7ZM598.057 230V110.545H639.741V133.254H640.986C643.163 124.855 646.611 118.711 651.329 114.823C656.099 110.934 661.672 108.99 668.05 108.99C669.916 108.99 671.757 109.146 673.571 109.457C675.438 109.716 677.226 110.105 678.937 110.623V147.253C676.812 146.527 674.193 145.983 671.083 145.62C667.972 145.257 665.302 145.075 663.072 145.075C658.873 145.075 655.088 146.034 651.718 147.953C648.4 149.819 645.782 152.463 643.863 155.885C641.945 159.255 640.986 163.222 640.986 167.784V230H598.057ZM743.409 232.178C730.654 232.178 719.663 229.741 710.434 224.867C701.257 219.942 694.18 212.891 689.203 203.714C684.278 194.485 681.815 183.442 681.815 170.584C681.815 158.244 684.304 147.46 689.281 138.232C694.258 129.003 701.283 121.822 710.356 116.689C719.43 111.556 730.136 108.99 742.475 108.99C751.497 108.99 759.663 110.39 766.973 113.19C774.283 115.989 780.531 120.059 785.715 125.4C790.9 130.688 794.892 137.117 797.692 144.686C800.492 152.256 801.892 160.785 801.892 170.273V180.227H695.191V156.585H762.385C762.333 153.163 761.451 150.156 759.74 147.564C758.081 144.92 755.826 142.872 752.974 141.42C750.175 139.917 746.986 139.165 743.409 139.165C739.935 139.165 736.746 139.917 733.843 141.42C730.94 142.872 728.606 144.894 726.844 147.486C725.133 150.078 724.225 153.112 724.122 156.585V182.094C724.122 185.93 724.925 189.352 726.533 192.359C728.14 195.366 730.447 197.725 733.454 199.436C736.461 201.147 740.09 202.003 744.342 202.003C747.297 202.003 749.993 201.588 752.43 200.759C754.919 199.929 757.044 198.737 758.807 197.181C760.57 195.574 761.866 193.656 762.696 191.426H801.892C800.544 199.722 797.355 206.928 792.326 213.046C787.297 219.112 780.635 223.83 772.339 227.2C764.095 230.518 754.452 232.178 743.409 232.178ZM842.546 274.795C837.62 274.795 832.928 274.407 828.469 273.629C824.011 272.903 820.096 271.892 816.726 270.596L826.059 240.11C829.584 241.354 832.799 242.158 835.702 242.521C838.657 242.884 841.172 242.676 843.246 241.899C845.371 241.121 846.901 239.643 847.834 237.466L848.767 235.288L806.772 110.545H851.567L870.854 193.293H872.098L891.696 110.545H936.803L893.252 239.955C891.074 246.539 887.912 252.45 883.764 257.686C879.668 262.974 874.276 267.148 867.588 270.207C860.9 273.266 852.552 274.795 842.546 274.795ZM1058.2 149.43H1018.69C1018.49 146.994 1017.63 144.894 1016.13 143.131C1014.62 141.368 1012.68 140.02 1010.3 139.087C1007.96 138.102 1005.37 137.609 1002.52 137.609C998.837 137.609 995.675 138.283 993.031 139.631C990.386 140.979 989.09 142.898 989.142 145.386C989.09 147.149 989.842 148.782 991.397 150.286C993.005 151.789 996.089 152.956 1000.65 153.786L1024.92 158.141C1037.15 160.37 1046.25 164.129 1052.21 169.417C1058.23 174.654 1061.26 181.679 1061.31 190.493C1061.26 198.996 1058.72 206.384 1053.69 212.657C1048.71 218.879 1041.9 223.701 1033.24 227.123C1024.63 230.493 1014.81 232.178 1003.76 232.178C985.513 232.178 971.229 228.445 960.912 220.979C950.646 213.513 944.917 203.662 943.724 191.426H986.342C986.913 195.211 988.779 198.14 991.942 200.214C995.156 202.236 999.2 203.247 1004.07 203.247C1008.01 203.247 1011.25 202.573 1013.8 201.225C1016.39 199.877 1017.71 197.959 1017.76 195.47C1017.71 193.189 1016.57 191.374 1014.34 190.026C1012.16 188.678 1008.74 187.589 1004.07 186.76L982.92 183.027C970.737 180.901 961.612 176.857 955.545 170.895C949.479 164.933 946.472 157.259 946.524 147.875C946.472 139.58 948.65 132.554 953.057 126.799C957.516 120.993 963.867 116.586 972.11 113.578C980.406 110.52 990.231 108.99 1001.59 108.99C1018.85 108.99 1032.46 112.567 1042.41 119.722C1052.42 126.877 1057.68 136.78 1058.2 149.43ZM1135.31 232.178C1122.35 232.178 1111.25 229.611 1102.03 224.478C1092.8 219.294 1085.72 212.087 1080.79 202.858C1075.87 193.578 1073.41 182.82 1073.41 170.584C1073.41 158.348 1075.87 147.616 1080.79 138.387C1085.72 129.107 1092.8 121.9 1102.03 116.767C1111.25 111.582 1122.35 108.99 1135.31 108.99C1148.27 108.99 1159.37 111.582 1168.6 116.767C1177.82 121.9 1184.9 129.107 1189.83 138.387C1194.75 147.616 1197.22 158.348 1197.22 170.584C1197.22 182.82 1194.75 193.578 1189.83 202.858C1184.9 212.087 1177.82 219.294 1168.6 224.478C1159.37 229.611 1148.27 232.178 1135.31 232.178ZM1135.62 200.447C1139.25 200.447 1142.39 199.229 1145.03 196.792C1147.68 194.355 1149.72 190.882 1151.18 186.371C1152.63 181.86 1153.35 176.494 1153.35 170.273C1153.35 163.999 1152.63 158.633 1151.18 154.174C1149.72 149.664 1147.68 146.19 1145.03 143.753C1142.39 141.316 1139.25 140.098 1135.62 140.098C1131.78 140.098 1128.49 141.316 1125.74 143.753C1123 146.19 1120.9 149.664 1119.45 154.174C1117.99 158.633 1117.27 163.999 1117.27 170.273C1117.27 176.494 1117.99 181.86 1119.45 186.371C1120.9 190.882 1123 194.355 1125.74 196.792C1128.49 199.229 1131.78 200.447 1135.62 200.447ZM1292.09 177.739V110.545H1335.02V230H1294.27V207.291H1293.03C1290.44 214.913 1285.9 220.875 1279.42 225.178C1272.94 229.43 1265.24 231.555 1256.32 231.555C1247.97 231.555 1240.66 229.637 1234.39 225.8C1228.17 221.964 1223.32 216.675 1219.85 209.935C1216.42 203.195 1214.69 195.47 1214.64 186.76V110.545H1257.56V177.739C1257.62 183.649 1259.12 188.289 1262.08 191.659C1265.08 195.029 1269.28 196.714 1274.67 196.714C1278.25 196.714 1281.34 195.963 1283.93 194.459C1286.57 192.904 1288.59 190.726 1289.99 187.926C1291.45 185.075 1292.15 181.679 1292.09 177.739ZM1399.79 70.7273V230H1356.86V70.7273H1399.79Z"
                        fill="black"></path>
                    </svg>
                  </a>
                </div>
                <h1 id="text05" class="style3">
                  <em>Нажмите на логотип, чтобы перейти на главную страницу</em>
                </h1>
              </div>
            </div>
          </div>
          <div id="me" class="style1 container default">
            <div class="wrapper">
              <div class="inner">
                <h1 id="text10" class="style1">Обо мне</h1>
              </div>
            </div>
          </div>
          <div id="container04" class="style2 container columns">
            <div class="wrapper">
              <div class="inner">
                <div>
                  <p id="text04" class="style2">
                    <span class="p"
                      >Имя - <strong>Александр</strong>,
                      <strong>мужской пол</strong>, <strong>20 лет</strong>,
                      родился <strong>27 сентября 2004 года</strong>, живу в
                      <strong>России</strong>, а конкретно в
                      <strong>Сибири</strong>.</span
                    ><span class="p"
                      >Живу свою жизнь, закончив техникум, после чего поступил в
                      ВУЗ. В остальном ничего необычного, играю, смотрю своих
                      любимых стримеров на Twitch, слушаю различную музыку
                      <em
                        >(в основном русский и иностранный хип-хоп, поп и иногда
                        рок)</em
                      >, смотрю интересующие меня фильмы, мультфильмы и так
                      далее.</span
                    ><span class="p"
                      >Хотя нет, вру, на самом деле у меня есть в закромах две
                      необычные вещи...</span
                    >
                  </p>
                </div>
                <div>
                  <p id="text07" class="style2">
                    <span class="p"
                      >Если вспоминать моё далёкое прошлое, то ещё в 2015 году
                      случайно получилось так, что под влиянием Five Nights at
                      Freddy&#39;s и его фан-игр я стал разрабатывать игры. Не
                      очень хорошие, правда, но всё-таки игры.</span
                    ><span class="p"
                      >Благодаря этому тогда я смог присоединиться ко многим
                      российским инди-командам по разработке игр, что дало мне
                      друзей и общение по сей день. Потом в 2018 году я ушёл
                      отовсюду и перестал этим заниматься окончательно.</span
                    ><span class="p"
                      >Спустя время, смотря на всё это, я, конечно, испытываю
                      кринж, но всё равно вспоминаю это ламповое время с
                      теплотой на душе.</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="furry" class="style1 container default">
            <div class="wrapper">
              <div class="inner">
                <h1 id="text11" class="style1">Моё новое хобби</h1>
              </div>
            </div>
          </div>
          <div id="container01" class="style2 container default">
            <div class="wrapper">
              <div class="inner">
                <p id="text02" class="style2">
                  <span class="p"
                    >В конце марта 2024 года
                    <em>(который для меня был довольно прорывным)</em> я начал интересоваться
                    фандомом «фурри» и в конце-концов неожиданно для себя осознал,
                    что мне это нравится.</span
                  ><span class="p"
                    >С сентября 2024 года имею своего персонажа
                    <em>(фурсону)</em> - серого кота сибирской породы, который, как
                    я считаю, идеально совмещает в себе мою личность и суть моего
                    никнейма.</span
                  ><span class="p"
                    >Также хочу сказать огромное спасибо художнице «<a
                      href="https://vk.com/kuro_i_pescha"
                      target="_blank"
                      data-umami-event="artist-cherdak"
                      ><strong>Чердак</strong></a
                    >» за эти красивые арты - мне очень нравится :3</span
                  >
                </p>
                <div id="gallery01" class="style2 gallery">
                  <div class="inner">
                    <ul>
                      <li>
                        <a
                          href="https://images.ctfassets.net/1pxughrhgws1/38aotHesHPdwZRVdOhSO7y/6abe407bda0b8ae017aca4ce8a1ce67e/reference.png"
                          class="thumbnail n01"
                        >
                          <span class="frame">
                            <Image
                              src="https://images.ctfassets.net/1pxughrhgws1/38aotHesHPdwZRVdOhSO7y/6abe407bda0b8ae017aca4ce8a1ce67e/reference.png?h=656"
                              alt="Референс моей фурсоны"
                              width={400}
                              height={656}
                              format="webp"
                              loading="lazy"
                              data-caption="Референс моей фурсоны"
                            />
                          </span>
                        </a>
                        <div class="caption"><p>Референс моей фурсоны</p></div>
                      </li>
                      <li>
                        <a
                          href="https://images.ctfassets.net/1pxughrhgws1/6IeLS208srow8q8q1tGnSx/42f03d972cfc77033b93d6cea45aa637/head.png"
                          class="thumbnail n02"
                        >
                          <span class="frame">
                            <Image
                              src="https://images.ctfassets.net/1pxughrhgws1/6IeLS208srow8q8q1tGnSx/42f03d972cfc77033b93d6cea45aa637/head.png?h=656"
                              alt="Хэд моей фурсоны"
                              width={400}
                              height={656}
                              format="webp"
                              loading="lazy"
                              data-caption="Хэд моей фурсоны"
                            />
                          </span>
                        </a>
                        <div class="caption"><p>Хэд моей фурсоны</p></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="footer" class="style1 container default">
            <div class="wrapper">
              <div class="inner">
                <h1 id="text01" class="style3">
                  ©
                  <script type="text/javascript">
                    document.write(new Date().getFullYear());
                  </script>
                  Greysoul. Всё авторское содержимое данного сайта принадлежит владельцу
                  данного сайта.
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      async
      src="https://eu.umami.is/script.js"
      data-website-id="2d99631b-23f6-4d56-ae3a-9fb531cb8147"></script>
    <script>
      (function () {
        var on = addEventListener,
          off = removeEventListener,
          $ = function (q) {
            return document.querySelector(q);
          },
          $$ = function (q) {
            return document.querySelectorAll(q);
          },
          $body = document.body,
          $inner = $(".inner"),
          client = (function () {
            var o = {
                browser: "other",
                browserVersion: 0,
                os: "other",
                osVersion: 0,
                mobile: false,
                canUse: null,
                flags: { lsdUnits: false },
              },
              ua = navigator.userAgent,
              a,
              i;
            a = [
              ["firefox", /Firefox\/([0-9\.]+)/, null],
              ["edge", /Edge\/([0-9\.]+)/, null],
              ["safari", /Version\/([0-9\.]+).+Safari/, null],
              ["chrome", /Chrome\/([0-9\.]+)/, null],
              ["chrome", /CriOS\/([0-9\.]+)/, null],
              ["ie", /Trident\/.+rv:([0-9]+)/, null],
              [
                "safari",
                /iPhone OS ([0-9_]+)/,
                function (v) {
                  return v.replace("_", ".").replace("_", "");
                },
              ],
            ];
            for (i = 0; i < a.length; i++) {
              if (ua.match(a[i][1])) {
                o.browser = a[i][0];
                o.browserVersion = parseFloat(
                  a[i][2] ? a[i][2](RegExp.$1) : RegExp.$1
                );
                break;
              }
            }
            a = [
              [
                "ios",
                /([0-9_]+) like Mac OS X/,
                function (v) {
                  return v.replace("_", ".").replace("_", "");
                },
              ],
              [
                "ios",
                /CPU like Mac OS X/,
                function (v) {
                  return 0;
                },
              ],
              [
                "ios",
                /iPad; CPU/,
                function (v) {
                  return 0;
                },
              ],
              ["android", /Android ([0-9\.]+)/, null],
              [
                "mac",
                /Macintosh.+Mac OS X ([0-9_]+)/,
                function (v) {
                  return v.replace("_", ".").replace("_", "");
                },
              ],
              ["windows", /Windows NT ([0-9\.]+)/, null],
              ["undefined", /Undefined/, null],
            ];
            for (i = 0; i < a.length; i++) {
              if (ua.match(a[i][1])) {
                o.os = a[i][0];
                o.osVersion = parseFloat(
                  a[i][2] ? a[i][2](RegExp.$1) : RegExp.$1
                );
                break;
              }
            }
            if (
              o.os == "mac" &&
              "ontouchstart" in window &&
              ((screen.width == 1024 && screen.height == 1366) ||
                (screen.width == 834 && screen.height == 1112) ||
                (screen.width == 810 && screen.height == 1080) ||
                (screen.width == 768 && screen.height == 1024))
            )
              o.os = "ios";
            o.mobile = o.os == "android" || o.os == "ios";
            var _canUse = document.createElement("div");
            o.canUse = function (property, value) {
              var style;
              style = _canUse.style;
              if (!(property in style)) return false;
              if (typeof value !== "undefined") {
                style[property] = value;
                if (style[property] == "") return false;
              }
              return true;
            };
            o.flags.lsdUnits = o.canUse("width", "100dvw");
            return o;
          })(),
          ready = {
            list: [],
            add: function (f) {
              this.list.push(f);
            },
            run: function () {
              this.list.forEach((f) => {
                f();
              });
            },
          },
          trigger = function (t) {
            dispatchEvent(new Event(t));
          },
          cssRules = function (selectorText) {
            var ss = document.styleSheets,
              a = [],
              f = function (s) {
                var r = s.cssRules,
                  i;
                for (i = 0; i < r.length; i++) {
                  if (
                    r[i] instanceof CSSMediaRule &&
                    matchMedia(r[i].conditionText).matches
                  )
                    f(r[i]);
                  else if (
                    r[i] instanceof CSSStyleRule &&
                    r[i].selectorText == selectorText
                  )
                    a.push(r[i]);
                }
              },
              x,
              i;
            for (i = 0; i < ss.length; i++) f(ss[i]);
            return a;
          },
          escapeHtml = function (s) {
            if (s === "" || s === null || s === undefined) return "";
            var a = {
              "&": "&amp;",
              "<": "&lt;",
              ">": "&gt;",
              '"': "&quot;",
              "'": "&#39;",
            };
            s = s.replace(/[&<>"']/g, function (x) {
              return a[x];
            });
            return s;
          },
          thisHash = function () {
            var h = location.hash ? location.hash.substring(1) : null,
              a;
            if (!h) return null;
            if (h.match(/\?/)) {
              a = h.split("?");
              h = a[0];
              history.replaceState(undefined, undefined, "#" + h);
              window.location.search = a[1];
            }
            if (h.length > 0 && !h.match(/^[a-zA-Z]/)) h = "x" + h;
            if (typeof h == "string") h = h.toLowerCase();
            return h;
          },
          scrollToElement = function (e, style, duration) {
            var y, cy, dy, start, easing, offset, f;
            if (!e) y = 0;
            else {
              offset =
                (e.dataset.scrollOffset
                  ? parseInt(e.dataset.scrollOffset)
                  : 0) *
                parseFloat(getComputedStyle(document.documentElement).fontSize);
              switch (
                e.dataset.scrollBehavior ? e.dataset.scrollBehavior : "default"
              ) {
                case "default":
                default:
                  y = e.offsetTop + offset;
                  break;
                case "center":
                  if (e.offsetHeight < window.innerHeight)
                    y =
                      e.offsetTop -
                      (window.innerHeight - e.offsetHeight) / 2 +
                      offset;
                  else y = e.offsetTop - offset;
                  break;
                case "previous":
                  if (e.previousElementSibling)
                    y =
                      e.previousElementSibling.offsetTop +
                      e.previousElementSibling.offsetHeight +
                      offset;
                  else y = e.offsetTop + offset;
                  break;
              }
            }
            if (!style) style = "smooth";
            if (!duration) duration = 750;
            if (style == "instant") {
              window.scrollTo(0, y);
              return;
            }
            start = Date.now();
            cy = window.scrollY;
            dy = y - cy;
            switch (style) {
              case "linear":
                easing = function (t) {
                  return t;
                };
                break;
              case "smooth":
                easing = function (t) {
                  return t < 0.5
                    ? 4 * t * t * t
                    : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1;
                };
                break;
            }
            f = function () {
              var t = Date.now() - start;
              if (t >= duration) window.scroll(0, y);
              else {
                window.scroll(0, cy + dy * easing(t / duration));
                requestAnimationFrame(f);
              }
            };
            f();
          },
          scrollToTop = function () {
            scrollToElement(null);
          },
          loadElements = function (parent) {
            var a, e, x, i;
            a = parent.querySelectorAll('iframe[data-src]:not([data-src=""])');
            for (i = 0; i < a.length; i++) {
              a[i].contentWindow.location.replace(a[i].dataset.src);
              a[i].dataset.initialSrc = a[i].dataset.src;
              a[i].dataset.src = "";
            }
            a = parent.querySelectorAll("video[autoplay]");
            for (i = 0; i < a.length; i++) {
              if (a[i].paused) a[i].play();
            }
            e = parent.querySelector('[data-autofocus="1"]');
            x = e ? e.tagName : null;
            switch (x) {
              case "FORM":
                e = e.querySelector(
                  ".field input, .field select, .field textarea"
                );
                if (e) e.focus();
                break;
              default:
                break;
            }
            a = parent.querySelectorAll("unloaded-script");
            for (i = 0; i < a.length; i++) {
              x = document.createElement("script");
              x.setAttribute("data-loaded", "");
              if (a[i].getAttribute("src"))
                x.setAttribute("src", a[i].getAttribute("src"));
              if (a[i].textContent) x.textContent = a[i].textContent;
              a[i].replaceWith(x);
            }
            x = new Event("loadelements");
            a = parent.querySelectorAll("[data-unloaded]");
            a.forEach((element) => {
              element.removeAttribute("data-unloaded");
              element.dispatchEvent(x);
            });
          },
          unloadElements = function (parent) {
            var a, e, x, i;
            a = parent.querySelectorAll('iframe[data-src=""]');
            for (i = 0; i < a.length; i++) {
              if (a[i].dataset.srcUnload === "0") continue;
              if ("initialSrc" in a[i].dataset)
                a[i].dataset.src = a[i].dataset.initialSrc;
              else a[i].dataset.src = a[i].src;
              a[i].contentWindow.location.replace("about:blank");
            }
            a = parent.querySelectorAll("video");
            for (i = 0; i < a.length; i++) {
              if (!a[i].paused) a[i].pause();
            }
            e = $(":focus");
            if (e) e.blur();
          };
        window._scrollToTop = scrollToTop;
        var thisUrl = function () {
          return window.location.href
            .replace(window.location.search, "")
            .replace(/#$/, "");
        };
        var getVar = function (name) {
          var a = window.location.search.substring(1).split("&"),
            b,
            k;
          for (k in a) {
            b = a[k].split("=");
            if (b[0] == name) return b[1];
          }
          return null;
        };
        var errors = {
          handle: function (handler) {
            window.onerror = function (message, url, line, column, error) {
              handler(error.message);
              return true;
            };
          },
          unhandle: function () {
            window.onerror = null;
          },
        };
        loadElements(document.body);
        var style, sheet, rule;
        style = document.createElement("style");
        style.appendChild(document.createTextNode(""));
        document.head.appendChild(style);
        sheet = style.sheet;
        if (client.mobile) {
          (function () {
            if (client.flags.lsdUnits) {
              document.documentElement.style.setProperty(
                "--viewport-height",
                "100svh"
              );
              document.documentElement.style.setProperty(
                "--background-height",
                "100lvh"
              );
            } else {
              var f = function () {
                document.documentElement.style.setProperty(
                  "--viewport-height",
                  window.innerHeight + "px"
                );
                document.documentElement.style.setProperty(
                  "--background-height",
                  window.innerHeight + 250 + "px"
                );
              };
              on("load", f);
              on("orientationchange", function () {
                setTimeout(function () {
                  f();
                }, 100);
              });
            }
          })();
        }
        if (client.os == "android") {
          (function () {
            sheet.insertRule("body::after { }", 0);
            rule = sheet.cssRules[0];
            var f = function () {
              rule.style.cssText =
                "height: " + Math.max(screen.width, screen.height) + "px";
            };
            on("load", f);
            on("orientationchange", f);
            on("touchmove", f);
          })();
          $body.classList.add("is-touch");
        } else if (client.os == "ios") {
          if (client.osVersion <= 11)
            (function () {
              sheet.insertRule("body::after { }", 0);
              rule = sheet.cssRules[0];
              rule.style.cssText = "-webkit-transform: scale(1.0)";
            })();
          if (client.osVersion <= 11)
            (function () {
              sheet.insertRule("body.ios-focus-fix::before { }", 0);
              rule = sheet.cssRules[0];
              rule.style.cssText = "height: calc(100% + 60px)";
              on(
                "focus",
                function (event) {
                  $body.classList.add("ios-focus-fix");
                },
                true
              );
              on(
                "blur",
                function (event) {
                  $body.classList.remove("ios-focus-fix");
                },
                true
              );
            })();
          $body.classList.add("is-touch");
        }
        function lightboxGallery() {
          var _this = this;
          this.id = "gallery";
          this.$wrapper = $("#" + this.id);
          this.$modal = null;
          this.$modalCaption = null;
          this.$modalImage = null;
          this.$modalNext = null;
          this.$modalPrevious = null;
          this.$links = null;
          this.locked = false;
          this.captions = null;
          this.current = null;
          this.delay = 375;
          this.navigation = null;
          this.mobile = null;
          this.protect = null;
          this.zoomIntervalId = null;
          this.initModal();
        }
        lightboxGallery.prototype.init = function (config) {
          var _this = this,
            $links = $$("#" + config.id + " .thumbnail"),
            navigation = config.navigation,
            captions = config.captions,
            mobile = config.mobile,
            mobileNavigation = config.mobileNavigation,
            scheme = config.scheme,
            protect = "protect" in config ? config.protect : false,
            i,
            j;
          j = 0;
          for (i = 0; i < $links.length; i++) {
            if ($links[i].dataset.lightboxIgnore != "1") j++;
          }
          if (j < 2) navigation = false;
          for (i = 0; i < $links.length; i++) {
            if ($links[i].dataset.lightboxIgnore == "1") continue;
            (function (index) {
              $links[index].addEventListener("click", function (event) {
                event.stopPropagation();
                event.preventDefault();
                _this.show(index, {
                  $links: $links,
                  navigation: navigation,
                  captions: captions,
                  mobile: mobile,
                  mobileNavigation: mobileNavigation,
                  scheme: scheme,
                  protect: protect,
                });
              });
            })(i);
          }
        };
        lightboxGallery.prototype.initModal = function () {
          var _this = this,
            dragStart = null,
            dragEnd = null,
            $modal,
            $modalInner,
            $modalImage,
            $modalNext,
            $modalPrevious,
            $modalCaption;
          $modal = document.createElement("div");
          $modal.id = this.id + "-modal";
          $modal.tabIndex = -1;
          $modal.className = "gallery-modal";
          $modal.innerHTML =
            '<div class="inner"><img src="" alt="Просмотр изображения" /></div><div class="caption"></div><div class="nav previous"></div><div class="nav next"></div><div class="close"></div>';
          $body.appendChild($modal);
          $modalInner = $modal.querySelector(".inner");
          $modalImage = $modal.querySelector("img");
          $modalImage.addEventListener("load", function () {
            $modalImage.style.setProperty(
              "--natural-width",
              $modalImage.naturalWidth + "px"
            );
            $modalImage.style.setProperty(
              "--natural-height",
              $modalImage.naturalHeight + "px"
            );
            $modal.classList.add("done");
            setTimeout(
              function () {
                if (!$modal.classList.contains("visible")) return;
                $modal.classList.add("loaded");
                setTimeout(function () {
                  $modal.classList.remove(
                    "switching",
                    "from-left",
                    "from-right",
                    "done"
                  );
                }, _this.delay);
              },
              $modal.classList.contains("switching") ? 0 : _this.delay
            );
          });
          $modalImage.addEventListener(
            "contextmenu",
            function () {
              if (_this.protect) event.preventDefault();
            },
            true
          );
          $modalImage.addEventListener(
            "dragstart",
            function () {
              if (_this.protect) event.preventDefault();
            },
            true
          );
          $modalCaption = $modal.querySelector(".caption");
          $modalNext = $modal.querySelector(".next");
          $modalPrevious = $modal.querySelector(".previous");
          switch (client.browser) {
            case "safari":
            case "firefox":
              $modalInner.style.boxShadow = "none";
              break;
            default:
              break;
          }
          $modal.show = function (index, offset, direction) {
            var item, i, j, found;
            if (_this.locked) return;
            if (typeof index != "number") index = _this.current;
            if (typeof offset == "number") {
              found = false;
              j = 0;
              for (j = 0; j < _this.$links.length; j++) {
                index += offset;
                if (index < 0) index = _this.$links.length - 1;
                else if (index >= _this.$links.length) index = 0;
                if (index == _this.current) break;
                item = _this.$links.item(index);
                if (!item) break;
                if (item.dataset.lightboxIgnore != "1") {
                  found = true;
                  break;
                }
              }
              if (!found) return;
            } else {
              if (index < 0) index = _this.$links.length - 1;
              else if (index >= _this.$links.length) index = 0;
              if (index == _this.current) return;
              item = _this.$links.item(index);
              if (!item) return;
              if (item.dataset.lightboxIgnore == "1") return;
            }
            if (client.mobile)
              _this.zoomIntervalId = setInterval(function () {
                _this.zoomHandler();
              }, 250);
            _this.locked = true;
            if (_this.current !== null) {
              $modal.classList.remove("loaded");
              $modal.classList.add("switching");
              switch (direction) {
                case -1:
                  $modal.classList.add("from-left");
                  break;
                case 1:
                  $modal.classList.add("from-right");
                  break;
                default:
                  break;
              }
              setTimeout(function () {
                _this.current = index;
                $modalImage.src = item.href;
                if (_this.captions)
                  $modalCaption.innerHTML =
                    item.querySelector("[data-caption]").dataset.caption;
                setTimeout(function () {
                  $modal.focus();
                  _this.locked = false;
                }, _this.delay);
              }, _this.delay);
            } else {
              _this.current = index;
              $modalImage.src = item.href;
              if (_this.captions)
                $modalCaption.innerHTML =
                  item.querySelector("[data-caption]").dataset.caption;
              $modal.classList.add("visible");
              setTimeout(function () {
                $modal.focus();
                _this.locked = false;
              }, _this.delay);
            }
          };
          $modal.hide = function () {
            if (_this.locked) return;
            if (!$modal.classList.contains("visible")) return;
            _this.locked = true;
            $modal.classList.remove("visible");
            $modal.classList.remove("loaded");
            $modal.classList.remove(
              "switching",
              "from-left",
              "from-right",
              "done"
            );
            clearInterval(_this.zoomIntervalId);
            setTimeout(function () {
              $modalImage.src = "";
              _this.locked = false;
              $body.focus();
              _this.current = null;
            }, _this.delay);
          };
          $modal.next = function (direction) {
            $modal.show(null, 1, direction);
          };
          $modal.previous = function (direction) {
            $modal.show(null, -1, direction);
          };
          $modal.first = function () {
            $modal.show(0);
          };
          $modal.last = function () {
            $modal.show(_this.$links.length - 1);
          };
          $modalInner.addEventListener("touchstart", function (event) {
            if (!_this.navigation) return;
            if (event.touches.length > 1) return;
            dragStart = {
              x: event.touches[0].clientX,
              y: event.touches[0].clientY,
            };
          });
          $modalInner.addEventListener("touchmove", function (event) {
            var dx, dy;
            if (!_this.navigation) return;
            if (!dragStart || event.touches.length > 1) return;
            dragEnd = {
              x: event.touches[0].clientX,
              y: event.touches[0].clientY,
            };
            dx = dragStart.x - dragEnd.x;
            dy = dragStart.y - dragEnd.y;
            if (Math.abs(dx) < 50) return;
            event.preventDefault();
            if (dx > 0) $modal.next(-1);
            else if (dx < 0) $modal.previous(1);
          });
          $modalInner.addEventListener("touchend", function (event) {
            if (!_this.navigation) return;
            dragStart = null;
            dragEnd = null;
          });
          $modal.addEventListener("click", function (event) {
            if (
              event.target &&
              (event.target.tagName == "A" ||
                event.target.tagName == "SPOILER-TEXT")
            )
              return;
            $modal.hide();
          });
          $modal.addEventListener("keydown", function (event) {
            if (!$modal.classList.contains("visible")) return;
            switch (event.keyCode) {
              case 39:
              case 32:
                if (!_this.navigation) break;
                event.preventDefault();
                event.stopPropagation();
                $modal.next();
                break;
              case 37:
                if (!_this.navigation) break;
                event.preventDefault();
                event.stopPropagation();
                $modal.previous();
                break;
              case 36:
                if (!_this.navigation) break;
                event.preventDefault();
                event.stopPropagation();
                $modal.first();
                break;
              case 35:
                if (!_this.navigation) break;
                event.preventDefault();
                event.stopPropagation();
                $modal.last();
                break;
              case 27:
                event.preventDefault();
                event.stopPropagation();
                $modal.hide();
                break;
            }
          });
          $modalNext.addEventListener("click", function (event) {
            $modal.next();
          });
          $modalPrevious.addEventListener("click", function (event) {
            $modal.previous();
          });
          this.$modal = $modal;
          this.$modalImage = $modalImage;
          this.$modalCaption = $modalCaption;
          this.$modalNext = $modalNext;
          this.$modalPrevious = $modalPrevious;
        };
        lightboxGallery.prototype.show = function (href, config) {
          this.$links = config.$links;
          this.navigation = config.navigation;
          this.captions = config.captions;
          this.mobile = config.mobile;
          this.mobileNavigation = config.mobileNavigation;
          this.scheme = config.scheme;
          this.protect = config.protect;
          this.$modal.classList.remove("light", "dark");
          switch (this.scheme) {
            case "light":
              this.$modal.classList.add("light");
              break;
            case "dark":
              this.$modal.classList.add("dark");
              break;
            case "auto":
              if (window.matchMedia("(prefers-color-scheme: light)").matches)
                this.$modal.classList.add("light");
              else this.$modal.classList.add("dark");
              break;
          }
          if (this.navigation) {
            this.$modalNext.style.display = "";
            this.$modalPrevious.style.display = "";
            if (client.mobile && !this.mobileNavigation) {
              this.$modalNext.style.display = "none";
              this.$modalPrevious.style.display = "none";
            }
          } else {
            this.$modalNext.style.display = "none";
            this.$modalPrevious.style.display = "none";
          }
          if (this.captions) this.$modalCaption.style.display = "";
          else this.$modalCaption.style.display = "none";
          if (this.protect) {
            this.$modalImage.style.WebkitTouchCallout = "none";
            this.$modalImage.style.userSelect = "none";
          } else {
            this.$modalImage.style.WebkitTouchCallout = "";
            this.$modalImage.style.userSelect = "";
          }
          if (client.mobile && !this.mobile) return;
          this.$modal.show(href);
        };
        lightboxGallery.prototype.zoomHandler = function () {
          var threshold = window.matchMedia("(orientation: portrait)").matches
            ? 50
            : 100;
          if (window.outerWidth > window.innerWidth + threshold)
            this.$modal.classList.add("zooming");
          else this.$modal.classList.remove("zooming");
        };
        var _lightboxGallery = new lightboxGallery();
        _lightboxGallery.init({
          id: "gallery01",
          navigation: true,
          captions: true,
          mobile: true,
          mobileNavigation: true,
          scheme: "auto",
        });
        ready.run();
      })();
    </script>
  </body>
</html>
