---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/index.css";
import Logo from "../components/logo.astro";
import Age from "../components/age.astro";
import SocialsButtons from "../components/socialsButtons.astro";
import ProjectsGallery from "../components/projectsGallery.astro";
import DonateButtons from "../components/donateButtons.astro";
---

<Layout
  title="Greysoul"
  description="Какой-то рандомный чел в интернете, который что-то делает"
>
  <div id="header" class="style1 container default">
    <div class="wrapper">
      <div class="inner">
        <Logo />
        <p id="text02" class="style2">
          <em>Какой-то рандомный чел в интернете, который что-то делает</em>
        </p>
      </div>
    </div>
  </div>

  <div id="about" class="style1 container default">
    <div class="wrapper">
      <div class="inner">
        <h2 id="text03" class="style1">Коротко обо мне</h2>
        <p id="text07" class="style2">
          <span class="p">
            Имя - <strong>Александр</strong>, <strong>мужской пол</strong>, <strong><Age /></strong>,
            родился <strong>27 сентября 2004 года</strong>, живу в <strong>России</strong>, 
            а конкретно в <strong>Сибири</strong>.
          </span>
          <span class="p">
            Больше подробностей доступны на странице «<strong><a href="/about/">Обо мне</a></strong>».
          </span>
        </p>
      </div>
    </div>
  </div>

  <div id="socials" class="style1 container default">
    <div class="wrapper">
      <div class="inner">
        <h2 id="text10" class="style1">Мои соц-сети и не только</h2>
        <SocialsButtons />
        <p id="text08" class="style2">
          *<em>Instagram принадлежит Meta Platforms Inc., признанной экстремистской организацией,
          деятельность которой запрещена на территории РФ</em>
        </p>
        <p id="text04" class="style2">
          Электронная почта - <strong><a href="mailto:contact@greysoul.ru">contact@greysoul.ru</a></strong>
        </p>
      </div>
    </div>
  </div>

  <div id="projects" class="style1 container default">
    <div class="wrapper">
      <div class="inner">
        <h2 id="text01" class="style1">Мои проекты</h2>
        <ProjectsGallery />
      </div>
    </div>
  </div>

  <div id="donate" class="style1 container default">
    <div class="wrapper">
      <div class="inner">
        <h2 id="text11" class="style1">
          Донат <em><span style="color: #545454">(если хотите)</span></em>
        </h2>
        <DonateButtons />
      </div>
    </div>
  </div>
</Layout>