---
import { getDonates } from "../utils/contentful.js";

const donate = await getDonates();
---

<ul id="buttons02" class="style3 buttons">
  {
    donate.map(({ url, color, label, umami }) => (
      <li>
        <a
          href={url}
          target="_blank"
          class="button"
          style={`background: ${color}`}
          data-umami-event={umami}
          role="button"
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>