---
const donate = [
  {
    url: "https://yoomoney.ru/to/410018468894777",
    label: "ЮMoney",
    buttonClass: "yoomoney",
    umami: "yoomoney",
    customColor: true
  },
  {
    url: "https://pay.web.money/929641500116",
    label: "WebMoney",
    buttonClass: "webmoney",
    umami: "webmoney",
    customColor: true
  }
];
---

<ul id="buttons02" class="style3 buttons">
  {
    donate.map(({ url, label, buttonClass, umami, customColor = true }) => (
      <li>
        <a
          href={url}
          target="_blank"
          class={`button${customColor ? ` ${buttonClass}` : ''}`}
          data-umami-event={umami}
          role="button"
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>