.heading {
  font-size: 1.7rem;
}

.subheadingXL {
  margin-bottom: 0px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.subheading {
  margin-bottom: 0px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: normal;
}

.date {
  margin-top: 0px;
  font-style: italic;
  color: #999;
  font-size: smaller;
}

.body {
  font-size: smaller;
  margin-bottom: 0px;
}

.indent {
  margin-left: 0.5rem;
}

.language {
  font-size: small;
  background-color: #ecf0f1;
  width: min-content;
  padding: 0.2rem;
  display: inline;
  border-radius: 5px;
}